<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Service FAQ Chatbot</title>
    <style>
      
        footer {
          
          position: fixed;
          bottom: 0;
          left: 0;
          background-color: #333;
          color: #fff;
          text-align: center;
          padding: 1rem;
          font-size: 0.9rem;
          margin-top: auto;
          width: 100%;
        }
        
      </style>
</head>
<body>
  <main>
    <div id="chat-box"></div>
    <input type="text" id="user-input" placeholder="Type your message here..." />
    <button id="send-btn"></button>
  </main>

  <script>
    const chatBox = document.getElementById('chat-box')
    const userInput = document.getElementById('user-input')
    const sendBtn = document.getElementById('send-btn')

    sendBtn.addEventListener('click', () => {
      const message = userInput.value
      if (message) {
        
        const userMessage = document.createElement('div')
        userMessage.className = 'user-message'
        userMessage.textContent = 'You:' + message
        chatBox.appendChild(userMessage)
      
        fetch('http://localhost:5000/chat', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ message })
        })
        .then(response => response.json())
        .then(data => {
          const botMessage = document.createElement('div')
          botMessage.className = 'bot-message'
          botMessage.textContent = 'Bot:' + data.response
          chatBox.appendChild(botMessage)
        })

        userInput.value = ''
          }
        })
  </script>
  <footer>
    <p>&copy; 2025 Developed by Eduardo Morales</p>
  </footer>
</body>
</html>